	<div class="row-fluid" id="home">


<div>
	<div id="headHolder"><img src="../public/images/headpic.png" /></div>
	<div id="nameDiv"> Rekha Tenjarla </div>	
</div>


<svg id="navigation" viewbox="0 0 250 700">
  <circle id="homeCircle" cx="100" cy="80" r="30" stroke-width="4"  class="selected" />
    <line x1="100" y1="110" x2="100" y2="210" style=";stroke-width:4" />
  <circle id="aboutCircle" cx="100" cy="215" r="30"  stroke-width="4" />
     <line x1="100" y1="245" x2="100" y2="345" style="stroke-width:4" />
  <circle id="projectsCircle" cx="100" cy="345" r="30" stroke-width="4"  />
    <line x1="100" y1="375" x2="100" y2="475" style="stroke-width:4" />
  <circle id="contactCircle" cx="100" cy="475" r="30" stroke-width="4"  />
</svg>

<!-- <div id="home" class="section active">
 -->
<div class="wrapper">
    <div id="dev" class="btn active">web developer</div>
    <div id="linguist" class="btn">linguist</div>
    <div id="data" class="btn">data visualizer</div>
  

  
  <div class="slides">
      <div class="sld active" id="dev">
      		<div id="words">
			</div>

	<img id="mac" src="../public/images/macbook.svg" />


      </div>

      <div class="sld" id="linguist">

	<div id="syntaxTree"></div>
	</div>


      <div class="sld" id="data"> 
      	<div id="bars">
      		 <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
      </div></div>

  </div>
<!-- </div>
 --></div>
 


</div>