	
<!DOCTYPE html>

<meta name="description" content="Personal portfolio website for Rekha Tenjarla">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="../public/stylesheets/home.css" rel="stylesheet" type="text/css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>
  <script src="../public/scripts/home.js"></script>
  <script src="../public/scripts/about.js"></script>
  <script src="../public/scripts/projects.js"></script>

	<script src="../public/scripts/main.js"></script>
<link href='https://fonts.googleapis.com/css?family=Cabin|Hind:500|Inconsolata|Muli' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<title> Rekha Tenjarla </title>

<div class="container-fluid">
	<div class="row-fluid" id="home">


<div>
	<div id="headHolder"><img src="../public/images/headpic.png" /></div>
	<div id="nameDiv"> Rekha Tenjarla </div>	
</div>


<svg id="navigation" viewbox="0 0 250 700">
  <circle id="homeCircle" cx="100" cy="80" r="30" class="selected" />
    <line x1="100" y1="110" x2="100" y2="210"/>
  <circle id="aboutCircle" cx="100" cy="215" r="30" />
     <line x1="100" y1="245" x2="100" y2="345" />
  <circle id="projectsCircle" cx="100" cy="345" r="30"  />
    <line x1="100" y1="375" x2="100" y2="475"  />
  <circle id="contactCircle" cx="100" cy="475" r="30"  />
</svg>

<!-- <div id="home" class="section active">
 -->

 <svg id="homeNavCircles" width="100" height="20">
  <circle id="devCircle" cx="10" cy="8" r="5"   class="activeCirc"  />
  <circle id="linguistCircle" cx="40" cy="8" r="5"   />
  <circle id="dataCircle" cx="70" cy="8" r="5"  />
</svg>
<div class="wrapper">
    <div id="dev" class="btn active">web developer</div>
    <div id="linguist" class="btn">linguist</div>
    <div id="data" class="btn">data visualizer</div>
  

  
  <div class="slides">
      <div class="sld activeSlide" id="devslide">
      		<div id="words">
			</div>

	<img id="mac" src="../public/images/macbook.svg" />


      </div>


<!-- slide 2, syntax tree and tooltip !-->

      <div class="sld" id="linguistslide">

        <div id="syntaxTT"> Click on a node to explore <a href="https://en.wikipedia.org/wiki/Branching_(linguistics)">the hierarchical structure of this sentence </a> </div> 
	<div id="syntaxTree"></div>
	</div>


<!-- slide 3, animated bar chart !-->
      <div class="sld" id="dataslide"> 
      	<div id="bars">
      		 <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
      </div></div>

  </div>
<!-- </div>
 --></div>
 


</div>
<div class="row-fluid" id="about">
<!-- 	<div id="abtTtl" class="ttl">about</div>
 -->	<div id="aboutMe">
 I'm a passionate autodidact who builds data <br/> visualizations, user interfaces, and full <br/> stack apps using javascript
	</div>


  <div id="ilParent">

<div id="skillChart">
  <div id="sequence"></div>

<div id="lineChart"></div>

</div>



<div id="sunburst">
  <div id="sbtt"> Hover over a skill to see my usage over time plotted to the the left! Click on an arc to make it the radius of the sunburst. <div id="ttClose"> 
Got it <i class="fa fa-thumbs-o-up"></i></div></div>
</div>
</div>

</div>

<div class="row-fluid" id="projects">
  <div id="trapezoid">
<div id="projDesc"> Most of my projects have revolved around mapping and the Twitter API, as I'm  interested in addressing sociopolitical questions with geographic, demographic, and linguistic data. The two described below are the ones I'm most actively working on now, but you can find a full list of apps I've worked on over the last year and a half at my <a href="https://www.github.com/rekhers"> github </a> page.</div>

</div>

<div id="boxRow">
  <div id="twitter" class="projBox"> <div class="projTitle"> Real Time US Tweet Heatmap </div>
    <div class="thumbnail img-responsive"><img src="../public/images/tweetScreenshot.png"/></div>
  </div>
    <div id="politics" class="projBox">  <div class="projTitle"> 2016 Election Electoral Projection Tool </div>
          <div class="thumbnail img-responsive"><img src="../public/images/electoral_map_screenshot.png"/></div>

    </div>

  </div>

</div>


<div class="row-fluid" id="contact">
  <div class="iconRow">
  <a href="https://github.com/rekhers"><i class="fa fa-github fa-5x"></i></a>
<a href="https://www.linkedin.com/in/rekha-tenjarla-588a19112"><i class="fa fa-linkedin-square fa-5x"></i></a>
<a href="mailto:rekha.tenjarla@gmail.com"><i class="fa fa-envelope fa-5x"></i></a>
</div>
</div>
</div>
</html>