	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="../public/stylesheets/home.css" rel="stylesheet" type="text/css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

	<script src="../public/scripts/home.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

<div class="container-fluid">
	<div class="row-fluid">

	<div class="col-md-12">

	<div id="headHolder"><img src="../public/images/headpic.png" /></div>
	<div id="nameDiv"> Rekha Tenjarla </div>	

</div>

	<div class="col-md-12">

	<div class="col-md-4">

<div id="webDevDiv">
	
			<div id="words">
			</div>

	<img id="mac" src="../public/images/macbook.svg" />
			<div id="wdText" class="iconTitles"> web developer </div>


</div>
</div>

	<div class="col-md-4">

<div id="linguisticsDiv">
	<div id="syntaxTree"></div>
		<div id="lingText" class="iconTitles"> linguist </div>
	</div>

</div>

	<div class="col-md-4">
</div>

</div>
</div>
</div>




