	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.16/d3.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.20/topojson.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,700' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href="../public/stylesheets/home.css" rel="stylesheet" type="text/css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js"></script>

	<script src="../public/scripts/home.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<title> Rekha Tenjarla </title>

<div class="container-fluid">
	<div class="row-fluid">




<div>
	<div id="headHolder"><img src="../public/images/headpic.png" /></div>
	<div id="nameDiv"> Rekha Tenjarla </div>	
</div>



<div class="wrapper">
    <div id="dev" class="btn active">web developer</div>
    <div id="linguist" class="btn">linguist</div>
    <div id="data" class="btn">data visualizer</div>
  

  
  <div class="slides">
      <div class="sld active" id="dev">
      		<div id="words">
			</div>

	<img id="mac" src="../public/images/macbook.svg" />


      </div>

      <div class="sld" id="linguist">

	<div id="syntaxTree"></div>
	</div>


      <div class="sld" id="data"> <div id="bars"></div></div>

  </div>
</div>



</div>
</div>