.navText {
  fill: #b53f2c;
  stroke-width: .2;
  font-size: 12px;
  cursor: pointer;
}
.bcText {
  font-size: .85vw;
  word-wrap: normal;
}
#navigation {
  z-index: 5000;
  position: fixed;
  top: 5vh;
  left: 82vw;
  height: 120%;
  stroke: #b53f2c;
}
#navigation circle {
  stroke: #b53f2c;
  fill: white;
  cursor: pointer;
  stroke-width: 2.5px;
}
#navigation line {
  stroke-width: 2.5px;
}
#navigation .activeCircle {
  stroke: #b53f2c;
  fill: gainsboro;
  cursor: pointer;
  stroke-width: 2.5px;
}
#navigation .scrollTextStyle {
  fill: #FFF;
  stroke: #FFF;
}
.container-fluid {
  overflow-x: hidden;
  margin: 0 !important;
  padding: 0 !important;
}
.container-fluid #home {
  height: 100vh !important;
}
.container-fluid a:link,
.container-fluid a:visited,
.container-fluid a:hover,
.container-fluid a:active {
  text-decoration: none;
}
.container-fluid .typed-cursor {
  display: none;
}
.container-fluid #homeNavCircles {
  margin-top: 1vh;
  margin-left: 46vw;
  stroke: gainsboro;
  fill: none;
  stroke-width: 2;
}
.container-fluid .activeCirc {
  fill: gainsboro;
}
.container-fluid #syntaxTT {
  display: none;
  position: absolute;
  width: 28vw;
  height: 100px;
  height: auto;
  background-color: steelblue;
  opacity: .88;
  text-align: center;
  color: #FFF;
  font-size: .82vw;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 3000;
  border-radius: 40px;
}
.container-fluid #syntaxTT a {
  text-decoration: none;
  color: orange;
}
.container-fluid #syntaxTT a:hover {
  color: navy;
  font-weight: 600;
}
.container-fluid .wrapper {
  background-color: #454b59;
  width: 30vw;
  height: 40vh;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 20px #222;
  margin-top: 2vh;
  overflow: hidden;
  margin-bottom: 5%;
}
.container-fluid .active {
  color: gainsboro !important;
  font-weight: 600 !important;
  text-shadow: -1px 1px 0px #222, 1px 1px 0px #222, 1px -1px 0px #222, -1px -1px 0px #222 !important;
  font-size: 1vw !important;
  border-radius: 0px;
}
.container-fluid .btn {
  z-index: 2000;
  color: #FFF;
  font-weight: 400;
  font-size: .9vw;
  width: 33.3333%;
  float: left;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  text-align: center;
}
.container-fluid .slides {
  width: auto;
}
.container-fluid .sld {
  width: 100%;
  height: 38vh;
  text-align: center;
  font-weight: bold;
}
.container-fluid #headHolder {
  margin-right: auto;
  margin-left: auto;
  width: 11vw;
  height: 11vw;
  border-radius: 75%;
  border: 1px solid gainsboro;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  margin-top: 5%;
}
.container-fluid #headHolder img {
  opacity: .65;
  position: relative;
  left: 2vw;
  width: 7vw;
}
.container-fluid #nameDiv {
  font-size: 3.2vw;
  background: -webkit-linear-gradient(#dc4225, #002f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.container-fluid #titles {
  font-size: 1.7vw;
  color: #293244;
  text-align: center;
}
.container-fluid #mac {
  position: relative;
  top: -7vh;
  width: 50%;
  height: 90%;
}
.container-fluid #words {
  font-family: "menlo-regular";
  font-size: .45vw;
  color: #7CFC00;
  width: 8.5vw;
  height: 5vh;
  left: -0.8vw;
  top: 10vh;
  position: relative;
  z-index: 6000;
  overflow: hidden;
  -webkit-animation: type 5s steps(100, end) infnite;
  animation: type 5s steps(50, end) infinite;
}
.container-fluid #words span {
  visibility: hidden;
}
.container-fluid #words .pink {
  display: inline-block;
  color: #fa2772;
}
.container-fluid #words .yellow {
  display: inline-block;
  color: #e7db75;
}
.container-fluid #words .blue {
  display: inline-block;
  color: #66d9ee;
}
.container-fluid #words .white {
  display: inline-block;
  color: #FFF;
}
.container-fluid #syntaxTree {
  z-index: 1000;
  max-width: 100%;
  max-height: 80%;
  margin-left: 10%;
}
.container-fluid #syntaxTree .node circle {
  cursor: pointer;
  stroke: #FFF;
  stroke-width: 3px;
}
.container-fluid #syntaxTree .node text {
  font: 0.9vw sans-serif;
  fill: #FFF;
}
.container-fluid #syntaxTree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.container-fluid #syntaxTree .ntLabels {
  stroke: steelblue;
  font-size: 15px;
}
.container-fluid #bars {
  max-width: 45%;
  margin-top: 10vh;
  max-height: 80%;
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(180deg);
  margin-left: 7vw;
  position: relative;
}
.container-fluid #bars svg {
  z-index: 5;
}
.container-fluid #bars rect {
  opacity: .7;
}
.container-fluid #bars rect:hover {
  opacity: .3;
}
.container-fluid #bars #rect1 {
  fill: #002F4B;
}
.container-fluid #bars #rect2 {
  fill: #6E3838;
}
.container-fluid #bars #rect3 {
  fill: #DC4225;
}
.container-fluid #projects {
  flex-direction: column;
  height: 107vh;
  width: 100%;
  background-color: #4A4A4A;
  display: flex;
}
.container-fluid #projects #boxRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.container-fluid #projects #boxRow .projBox {
  margin-left: -10%;
  margin-top: 5vh;
  border: 1px solid black;
  width: 30vw;
  height: 65vh;
  background-color: gainsboro;
  box-shadow: 0 10px 6px -6px black;
}
.container-fluid #projects #boxRow .projBox #ghLink1 {
  position: absolute;
  color: #002f4b;
}
.container-fluid #projects #boxRow .projBox #ghLink1:hover {
  text-decoration: none;
  color: steelblue;
}
.container-fluid #projects #boxRow .projBox #ghLink2 {
  position: absolute;
  color: #002f4b;
}
.container-fluid #projects #boxRow .projBox #ghLink2:hover {
  text-decoration: none;
  color: steelblue;
}
.container-fluid #projects #boxRow .projBox .projTitle {
  font-family: 'Muli', sans-serif;
  font-size: 1.5vw;
  text-align: center;
  margin-top: 3%;
  font-weight: 600;
  margin-bottom: 2%;
}
.container-fluid #projects #boxRow .projBox ul {
  width: 80%;
  font-family: 'Muli', sans-serif;
  font-size: .9vw;
}
.container-fluid #projects #boxRow .projBox ul li {
  margin-bottom: 5%;
}
.container-fluid #projects #boxRow .projBox .thumbnail {
  background-color: gainsboro;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid #projects #boxRow .projBox .thumbnail img {
  padding: 0;
  height: auto;
  width: 100%;
  height: 100%;
}
.container-fluid #projects #trapezoid {
  display: block;
  border-bottom: 150px solid #B58921;
  border-right: 130px solid transparent;
  height: 0;
  margin-top: 5vh;
  width: 70vw;
}
.container-fluid #projects #trapezoid #projDesc {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 4%;
  color: gainsboro;
  font-size: 1.2vw;
  font-family: 'Muli', sans-serif;
}
.container-fluid #projects #trapezoid #projDesc a {
  color: #002f4b;
  font-weight: bold;
}
.container-fluid #projects #trapezoid #projDesc a:hover {
  color: steelblue;
}
.container-fluid #about {
  height: 100vh;
  background: #454b59;
  background: linear-gradient(to right bottom, gainsboro 50%, #454b59 50%);
}
.container-fluid #about #ilParent {
  display: flex;
  flex-direction: row;
}
.container-fluid #about #ilParent #skillChart #lineChart {
  margin-top: -18%;
  margin-left: 4%;
}
.container-fluid #about #ilParent #skillChart #lineChart path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}
.container-fluid #about #ilParent #skillChart #lineChart .axisText {
  fill: black;
  font-size: .8vw;
}
.container-fluid #about #ilParent #skillChart #lineChart .yaxis text {
  display: none;
}
.container-fluid #about #ilParent #skillChart #lineChart .yaxis line {
  stroke: gray;
}
.container-fluid #about #ilParent #skillChart #lineChart .yaxis path {
  stroke: gray;
}
.container-fluid #about #ilParent #skillChart #lineChart .xaxis path {
  stroke: gray;
}
.container-fluid #about #ilParent #skillChart #lineChart .xaxis line {
  stroke: gray;
}
.container-fluid #about #ilParent #skillChart #sequence {
  margin-left: 2vw;
  margin-top: 7vh;
  display: block;
}
.container-fluid #about #ilParent #skillChart #sequence text,
.container-fluid #about #ilParent #skillChart #legend text {
  font-weight: 500;
  fill: #fff;
}
.container-fluid #about #ilParent #sbtt {
  position: absolute;
  width: 170px;
  height: auto;
  background-color: steelblue;
  opacity: .88;
  color: #FFF;
  font-size: .9vw;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 10px;
  padding-bottom: 0px;
  z-index: 3000;
  border-radius: 15px;
}
.container-fluid #about #ilParent #sbtt:after {
  content: '';
  position: relative;
  top: 41px;
  left: 47px;
  /*position: absolute;
            top: 30px;
            left: 380px;*/
  margin-top: 200px;
  width: 0;
  height: 0;
  border-color: steelblue transparent transparent transparent;
  border-style: solid;
  border-width: 26.0px 15px 0 15px;
}
.container-fluid #about #ilParent #sbtt #ttClose {
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  padding-left: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 5%;
  width: 60%;
  border: 1px solid #FFF;
  border-radius: 20px;
  color: #FFF;
  height: auto;
  display: block;
  margin-bottom: -4px;
}
.container-fluid #about #ilParent #sbtt #ttClose .fa {
  font-size: 20px;
  display: inline-block;
  margin-right: 5px;
  padding-left: 5px;
  vertical-align: middle;
}
.container-fluid #about #ilParent #sbtt #ttClose:hover {
  background-color: gray;
}
.container-fluid #about #ilParent #sunburst {
  z-index: 100;
  stroke: #FFF;
  stroke-width: 1px;
  margin-top: 5%;
  margin-left: 7%;
}
.container-fluid #about #ilParent #sunburst text {
  fill: steelblue;
  font-size: 12px;
}
.container-fluid #about #ilParent #sunburst path {
  cursor: pointer;
}
.container-fluid #about .ttl {
  font-size: 4vw;
  font-weight: 500;
}
.container-fluid #about #aboutMe {
  font-size: 4vw;
  position: relative;
  top: 2%;
  left: 2%;
  line-height: 12vh;
  color: #a9a9a9;
}
.container-fluid .iconRow {
  position: relative;
  top: 6vh;
  left: 15vw;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}
.container-fluid .iconRow a {
  text-decoration: none;
  color: gainsboro;
}
.container-fluid .iconRow a:hover {
  color: #002f4b;
}
.container-fluid #contact {
  background-color: #692413;
  height: 25vh;
  width: 100%;
}
.container-fluid #contact svg {
  background-color: gainsboro;
  height: 100%;
  width: 100%;
  z-index: -100;
}
.container-fluid #contact path {
  fill: gainsboro;
  stroke: #454b59;
  stroke-width: .7px;
}
