// /* CSS declarations go here */


@sublime-pink: #F92672;
@sublime-blue:#66D9EF;


.container-fluid{

a:link, a:visited, a:hover, a:active {
  text-decoration: none; 
}

.typed-cursor{
  display: none;
}


.wrapper {
  background-color: #454b59;
    width: 30vw;
    height:40vh;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 0 0 20px #222;
  margin-top: 5vh;
  overflow: hidden;
  margin-bottom: 5%;
    }


    .btn {
      z-index: 2000;
      text-decoration:none;
      color:#FFF;
      font-weight: 400;
      font-size: .9vw;
        width: 33.3333%;
      float: left;
        font-family: 'Roboto', sans-serif;

      text-decoration: none;
      text-align: center;
       .active {
            font-weight: bold;
             // background: #ccc;
             opacity: .5;
             color: yellow !important;
            }

        }

.slides {
    width: auto;
  // overflow: hidden;
    }
  .sld {
    width: 100%;
    height: 38vh;
    text-align: center;
    // transition: margin .3s;
    font-weight: bold;
    // display: none;
    }


#headHolder{
  margin-right:auto;
    margin-left:auto;

  width: 11vw;
    height: 11vw;

  border-radius: 75%;
  border: 1px solid gainsboro;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  // margin-left: 40vw;
  margin-top: 5vh;

img{
  opacity: .65;
  position: relative;
  top: 3vh;
  left: 2vw;
  width: 7vw;
}

}

#nameDiv{
  font-size: 3.2vw;
 background: -webkit-linear-gradient(#dc4225, #002f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
// margin-left: 36vw;
text-align:center;

}

#titles{
  font-size: 1.1vw;
  color: #293244;
  // margin-left: 34vw;
  text-align: center;



}







  #mac{
   
        position: relative;
        top: -6%;
        width: 50%;
        height: 90%;
  }



   #words{

    font-family: "menlo-regular";
    font-size: .6vw;
    color: #7CFC00;
    width: 34vw;
    position: absolute;
    top: 57vh;
    left: 32vw;
    z-index: 6000;

    span{
      visibility: hidden;
    }


      .pink{
        display: inline-block;
        color:#fa2772;
      }

      .yellow{
                display: inline-block;
        color: #e7db75;
      }

      .blue{
                display: inline-block;

        color: #66d9ee;
      }

      .white{
        display: inline-block;

        color: #FFF;
      }


    
  
    overflow:hidden;
     -webkit-animation: type 5s steps(100, end) infnite;
    animation: type 5s steps(50, end) infinite;
 
  }



#syntaxTree{
    z-index: 1000;
    max-width: 100%;
    max-height: 80%;
  svg{


      }
  .node circle {
    cursor: pointer;
    stroke: #FFF;
    stroke-width: 3px;
  }

  .node text { 
    font: 1.2vw sans-serif; 
    fill: #FFF;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }
}


#bars{
  max-width: 45%;

  margin-top:10vh;
  max-height: 80%;
  // margin-left: .3vw;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    margin-left: 6vw;
    position: relative;
    // top: 1.5vh;
    // margin-right: auto;
    svg{
      z-index: 5;
      // margin-left: auto;
      // margin-right: auto;
  // background-color: gainsboro;
}

rect{
  opacity: .7;
}

#rect1{
  fill:#002F4B;

}
#rect2{
  fill: #6E3838;
}

#rect3{
  fill:#DC4225;

}
  
}




}



