// /* CSS declarations go here */

@sublime-pink: #F92672;
@sublime-blue:#66D9EF;


.navText{
  // stroke-width: .5;
  fill: #b53f2c;
  stroke-width: .2;
  font-size: 12px;
  cursor: pointer;
}

.bcText{
  font-size: .85vw;
  word-wrap: normal;
}



#navigation{
  z-index: 5000;
  position: fixed;
  top: 5vh;
  left: 82vw;
  height: 120%;
  stroke: #b53f2c;

  circle{
    stroke: #b53f2c;
    fill: white;
    cursor: pointer;
    stroke-width: 2.5px;
  }

  line{
    stroke-width: 2.5px;
  }

  .activeCircle{
   stroke: #b53f2c;
    fill: gainsboro;
    cursor: pointer;
    stroke-width: 2.5px;

  }

  .scrollTextStyle{
    fill: #FFF;
    stroke: #FFF;

  }






}

.container-fluid{
overflow-x: hidden;
margin: 0 !important;
padding: 0 !important;
#home{
  height: 100vh !important;
}
a:link, a:visited, a:hover, a:active {
  text-decoration: none; 
}

.typed-cursor{
  display: none;
}

#homeNavCircles{
  margin-top: 1vh;
  margin-left: 46vw;
  stroke: gainsboro;
  fill: none;
  stroke-width: 2;
}

.activeCirc{
  fill: gainsboro;
}

#syntaxTT{

  a{
    text-decoration: none;
    color: orange;
  }

  a:hover{
      color: navy;
      font-weight: 600;
  }
          display: none;
          position: absolute;
          // left: 70%;
          // top: 10%;
            width: 28vw;
            height: 100px;
            height: auto;
            background-color: steelblue;
            opacity: .88;
            text-align: center;
            color: #FFF;
            font-size: .82vw;
            font-weight: 400;
            padding-left: 10px;
                padding-right: 10px;

font-family: 'Open Sans', sans-serif;

            padding-top: 10px;
           padding-bottom: 10px;
            z-index: 3000;
            border-radius: 40px;



    }

.wrapper {
  background-color: #454b59;
    width: 30vw;
    height:40vh;
  margin-left:auto;
  margin-right: auto;
  box-shadow: 0 0 20px #222;
  margin-top: 2vh;
  overflow: hidden;
  margin-bottom: 5%;
    }

.active{
  // text-transform: uppercase !important;

  color: gainsboro !important;
  font-weight: 600 !important;
  // box-shadow:inset 10px 10px 35px rgba(0,0,0,.125) !important;
  text-shadow: -1px 1px 0px #222, 1px 1px 0px #222, 1px -1px 0px #222, -1px -1px 0px #222 !important;

  // box-shadow: none !important;
    // border-top: 1px solid gainsboro;
      font-size: 1vw !important;

  border-radius: 0px;
}

#linguist{
  // border-left:2px solid gray;
  //   border-right: 2px solid gray;
  //    box-shadow: inset 0 -1px 0 0 gainsboro;
  //   border-radius: 0;
}

    .btn {
    
      z-index: 2000;
      text-decoration:none;
      color:#FFF;
      font-weight: 400;
      font-size: .9vw;
        width: 33.3333%;
      float: left;
        font-family: 'Roboto', sans-serif;
      text-decoration: none;
      text-align: center;
   

        }


.slides {
    width: auto;
  // overflow: hidden;
    }
  .sld {
    width: 100%;
    height: 38vh;
    text-align: center;
    // transition: margin .3s;
    font-weight: bold;
    // display: none;
    }


#headHolder{
  margin-right:auto;
    margin-left:auto;

  width: 11vw;
    height: 11vw;

  border-radius: 75%;
  border: 1px solid gainsboro;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
    // background-image: linear-gradient(to bottom right,black,#434343);
  margin-top: 5%;

img{
  opacity: .65;
  position: relative;
  // top: 3vh;
  left: 2vw;
  width: 7vw;
}

}

#nameDiv{
  font-size: 3.2vw;
 background: -webkit-linear-gradient(#dc4225, #002f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
// margin-left: 36vw;
text-align:center;

}

#titles{
  font-size: 1.7vw;
  color: #293244;
  // margin-left: 34vw;
  text-align: center;

}







  #mac{
   
        position: relative;
        top: -7vh;
        width: 50%;
        height: 90%;
  }



   #words{

    font-family: "menlo-regular";
    font-size: .45vw;
    color: #7CFC00;
    width: 8.5vw;
    height: 5vh;
    left: -.8vw;
    top: 10vh;
    // margin-bottom: 10vh;
    position:relative;
    z-index: 6000;

    span{
      visibility: hidden;
    }


      .pink{
        display: inline-block;
        color:#fa2772;
      }

      .yellow{
                display: inline-block;
        color: #e7db75;
      }

      .blue{
                display: inline-block;

        color: #66d9ee;
      }

      .white{
        display: inline-block;

        color: #FFF;
      }


    
  
    overflow:hidden;
     -webkit-animation: type 5s steps(100, end) infnite;
    animation: type 5s steps(50, end) infinite;
 
  }



#syntaxTree{
    z-index: 1000;
    max-width: 100%;
    max-height: 80%;
    margin-left:  10%;
  svg{


      }
  .node circle {
    cursor: pointer;
    stroke: #FFF;
    stroke-width: 3px;
  }

  .node text { 
    font: .9vw sans-serif; 
    fill: #FFF;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
    shape-rendering: crispEdges;
  }

  .ntLabels{
    stroke: steelblue;
    font-size: 15px;
  }
}


#bars{
  max-width: 45%;

  margin-top:10vh;
  max-height: 80%;
  // margin-left: .3vw;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
    margin-left: 7vw;
    position: relative;
    // top: 1.5vh;
    // margin-right: auto;
    svg{
      z-index: 5;
      // margin-left: auto;
      // margin-right: auto;
  // background-color: gainsboro;
}

rect{
  opacity: .7;
}

rect:hover{
  opacity:.3;
}

#rect1{
  fill:#002F4B;

}
#rect2{
  fill: #6E3838;
}

#rect3{
  fill:#DC4225;

}
  
}

#projects{
    // background: gba(0, 0, 0, 0.25);
display: flex;
flex-direction: column;
#boxRow{
  // position: relative;
  // top: 50vh;
  // left: -20vw;
   width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  // height: auto;
  position: relative;

  .projBox{

    #ghLink1{
      position: absolute;
      // top: -3vh;
      // left: 26vw;
      color: #002f4b;
       &:hover{
      text-decoration: none;
      color: steelblue;
    }
    }


    #ghLink2{
      position: absolute;
      // top: -1vh;
      // left: 26vw;
      color: #002f4b;
       &:hover{
      text-decoration: none;
      color: steelblue;
    }
    }

   

    .projTitle{
          font-family: 'Muli', sans-serif;
          font-size: 1.5vw;
          // margin-left: 2%;
          text-align: center;
          margin-top: 3%;
          font-weight: 600;
          margin-bottom:2%;
    }

    margin-left: -10%;
    margin-top: 5vh;
    border: 1px solid black;
    width: 30vw;
    height: 65vh;
    background-color: gainsboro;
         box-shadow: 0 10px 6px -6px black;

      

      ul{
            width: 80%;
                  font-family: 'Muli', sans-serif;
                  font-size: .9vw;
                  li{
                    margin-bottom: 5%;
                  }
      }   

     .thumbnail{
      background-color: gainsboro;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
     }    

    .thumbnail img{
      padding: 0;
      height: auto;
      width: 100%;
            height: 100%;

    }

  }

  // img{
  //   width: 200px;
  //   height: 200px;
  //   z-index: 5000;
  // }

}

#trapezoid {
  display: block;
  border-bottom: 150px solid #B58921;
  border-right: 130px solid transparent;
  height: 0;
  margin-top: 5vh;
    // margin-left: 5vw;

  width: 70vw;

  #projDesc{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
    color: gainsboro;
    font-size: 1.2vw;
    font-family: 'Muli', sans-serif;
    a{
      color: #002f4b;
      font-weight: bold;

      &:hover{
        color: steelblue;
      }
    }
  }
}
  

  height: 107vh;
  width: 100%;
  background-color: #4A4A4A;
display: flex;

    

}

#about {

  height: 100vh;
 background:#454b59;
  background: linear-gradient(to right bottom, gainsboro 50%, #454b59 50%);
// div{
//   display: inline-block;
// }



#ilParent{
display: flex;
flex-direction: row;
#skillChart{
// width: 30%;
  // display: inline-block;

#lineChart{
  margin-top: -18%;
  margin-left: 4%;  // background-color: #FFF;

  path {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
  // display: block;

}

// line {
//   fill: black;
// }

.axisText{
  fill: black;
  font-size: .8vw;
}

.yaxis{
  text{
    display: none;
  }

  line{
    stroke: gray;
  }

  path{
    stroke: gray;
  }
}

.xaxis{
  path{
stroke: gray;
}

  line{
    stroke: gray;
  }
}

}

#sequence{
  margin-left: 2vw;
  margin-top: 7vh;
  display: block;
}

#sequence text, #legend text {
  font-weight: 500;
  fill: #fff;
}
}


  #sbtt{

          position: absolute;
            width: 170px;
            height: auto;
            background-color: steelblue;
            opacity: .88;
            color: #FFF;
            font-size: .9vw;
            font-weight: 400;
            padding-left: 10px;
                padding-right: 10px;

font-family: 'Open Sans', sans-serif;

            padding-top: 10px;
           padding-bottom: 0px;

            z-index: 3000;
            border-radius: 15px;
         &:after {
            content: '';
            position:relative;
            top: 41px;
            left: 47px;
            /*position: absolute;
            top: 30px;
            left: 380px;*/
            margin-top: 200px;

            width: 0;
            height: 0;
            border-color: steelblue transparent transparent transparent;
            border-style: solid;
border-width: 26.0px 15px 0 15px;

        }

        #ttClose{
          margin-left: auto;
          margin-right: auto;
          cursor:pointer;
          padding-left: 10%;
           padding-top: 3%;
          padding-bottom: 3%;
           margin-top: 5%;
          width: 60%;
          border: 1px solid #FFF;
          border-radius: 20px;
          color: #FFF;
          height: auto;
          display: block;
          margin-bottom: -4px;
          .fa{
            font-size: 20px;
            display: inline-block;
            margin-right: 5px;
            padding-left: 5px;
            vertical-align: middle;
          }

          &:hover{
            background-color: gray;

          }
        }
    }




// #explanation{
//   position: relative;
//   font-size: 1.3vw;
//   top: 3%;
//   left: 25%;
// }

#sunburst{
    // display: inline-block;

  z-index: 100;
  stroke: #FFF;
  stroke-width: 1px;
  margin-top: 5%;
  margin-left: 7%;
  

text{
  fill: steelblue;
  font-size: 12px;
}
path{
  cursor: pointer;
}




}
}

  .ttl{
    font-size: 4vw;
    font-weight: 500;
  }

  // #abtTtl{
  //   position: relative;
  //   color: #454b59;
  //   left: 2%;
  //   top: 2%;
  // }

  #aboutMe{
    font-size: 4vw;
    position: relative;
    top: 2%;
    left: 2%;
    line-height: 12vh;
    color: #a9a9a9;

  }



  // #skTtl{
  //       position: relative;
  //       color: gainsboro;
  //       left: 65%;
  //       top: 73%;
  // }

}

.iconRow{
  position:relative;
  top: 6vh;
  left: 15vw;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  a{
    text-decoration: none;
       color: gainsboro;

  }
  a:hover{
    color: #002f4b;
  }

}



#contact{
  background-color: #692413;
  height: 25vh;
width: 100%;
 svg {
  background-color: gainsboro;
        height: 100%;
    
        width: 100%;
        z-index: -100;
        // background-color: #692413;
                // opacity: .85;

      }

      path {

        // fill: rgba(0, 0, 0, 0.75);
        fill: gainsboro;
        stroke: #454b59;
        stroke-width: .7px;
      }

}

}
