.container-fluid {
  background-color: peach;
  opacity: .8;
  height: 100%;
}
.container-fluid #headHolder {
  height: 140px;
  width: 140px;
  border-radius: 80px;
  border: 1px solid gainsboro;
  background-image: linear-gradient(to bottom right, #002f4b, #dc4225);
  margin-left: 40vw;
  margin-top: 5vh;
}
.container-fluid #headHolder img {
  opacity: .65;
  position: relative;
  top: 13;
  left: 20;
  height: 120px;
  width: 95px;
}
.container-fluid #nameDiv {
  font-size: 40px;
  background: -webkit-linear-gradient(#dc4225, #002f4b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-left: 36vw;
}
.container-fluid .iconTitles {
  font-family: 'Roboto', sans-serif;
  font-size: 3.2vw;
  color: gainsboro;
}
.container-fluid #webDevDiv #mac {
  margin-top: -1.5vh;
  width: 23vw;
}
.container-fluid #webDevDiv #wdText {
  margin-top: -9vh;
  margin-left: 1vw;
}
.container-fluid #webDevDiv .typed-cursor {
  display: none;
}
.container-fluid #webDevDiv #words {
  font-family: "menlo-regular";
  font-size: 1vw;
  color: #7CFC00;
  width: 37vw;
  position: absolute;
  z-index: 1000;
}
.container-fluid #webDevDiv #words span {
  visibility: hidden;
}
.container-fluid #webDevDiv #words .pink {
  display: inline-block;
  color: #fa2772;
}
.container-fluid #webDevDiv #words .yellow {
  display: inline-block;
  color: #e7db75;
}
.container-fluid #webDevDiv #words .blue {
  display: inline-block;
  color: #66d9ee;
}
.container-fluid #webDevDiv #words .white {
  display: inline-block;
  color: #FFF;
}
.container-fluid #linguisticsDiv #syntaxTree svg {
  margin-top: 3vh;
}
.container-fluid #linguisticsDiv #syntaxTree .node circle {
  cursor: pointer;
  stroke: steelblue;
  stroke-width: 3px;
  fill: green;
}
.container-fluid #linguisticsDiv #syntaxTree .node text {
  font: 0.9vw sans-serif;
}
.container-fluid #linguisticsDiv #syntaxTree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}
.container-fluid #introText {
  margin-left: 20%;
  font-size: 85px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: red;
  margin-top: 35%;
}
